:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #262626;
  background-color: #df8282;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #262626;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  position: relative;
}


.story-tray::-webkit-scrollbar {
  display: none;
}

.story-tray {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
